.TidyUp {
    margin: 0 auto;
}

.featuresHead{
    color: white;
}

.featureImages{
    padding: 5px 25px 5px 25px;
    max-width: 100%;
    height: auto;
}

.fixHeightCard{
    height: 220px;
}

.wideScreen{
    min-width: 100%;
    min-height: 100%;
    margin-top: 0;
    margin-bottom : 0; 
}

.iconContainer{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.whiteIcon{
    margin: 5px 10px;
    font-size: 30px; 
}