.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }
  


  .is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #ffffff !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
}


/* SIDEBAR */

.sidebar{
  width: 250px;
  min-height: screen.height;
  display:flex;

  /* width: fit-content; */
  /* display: inline; */
  margin: 0;
}

/* .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  border: 2px solid black;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}



.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
} */



/* checklistCard */

.checklistCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%), 0 1px 2px 0 rgb(0 0 0 / 10%);
  background-color: #ffffff;
  padding: 1.5rem;
  margin: 0 0 1.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid #eaeaea;
}


.searchBar{
  margin-top: 1%;
  margin-right : 5%;
  margin-left : 5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border: 1px solid #3d3636;
  cursor: pointer;
  border-radius: 0.2rem;
  /* margin: 2 rem;  */
  padding: 0.5 rem;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  /* background-color: #ffffff;   */
}

.heading{
  margin-top: 7%;
  margin-right : 5%;
  margin-left : 5%; 
}



/* Animation */
.section{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3586ff;
  overflow: hidden;
}
.section .air{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png');
  background-size: 1000px 100px
}
.section .air .air1{
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.section .air .air2{
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.section .air.air3{
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.section .air.air4{
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: 1000px; 
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0px; 
  }
  100%{
    background-position-x: -1000px; 
  }
}


.bigcontainer{

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  width: 150px;
  height: 150px;
  display: grid;
  overflow: hidden;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
  /* background: rgba(255, 255, 255, 0.2); */
  background: linear-gradient(180deg, #d0e, #91f);
  border-radius: 50px;

}


.item {
  background: white;
  border-radius: 100%;
}


.loading {
  background: url('/images/spinner.gif') no-repeat center center;
  top: -37%;
  left: 5%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9999;
  transform: scale(0.1);

}

#sidebar-container{
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column;

}

.nav {
  flex-grow: 1; /* Make the ul element expand to fill the available space */
}


.leftPanel{
  /* fixed */
  position: fixed;
  left: 0;
  top: 50%;
  width: 300px;
}